<div  style="width: 100px;" class="cmd tooltips cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#id#" title="#collectDate#">
  <script>
    var Media#uid#=jQuery.parseJSON('#state#');
    
		function UpdateList#uid#(Data){
			$('.plex[data-eqLogic_uid=#uid#] #ListeMedia ul').html('');
			$('.plex[data-eqLogic_uid=#uid#] .jaquette_plex').html('');
			var mediaKey='';
			for (var i in Data.Media) {
				$('.plex[data-eqLogic_uid=#uid#] #ListeMedia ul').append(
					$('<li>')
						.addClass('btm-media-plex')
						.attr('data-type_media',Data.Media[i].Type)
						.attr('data-id_media',i)//Data.Media[i].RatingKey)
						.text(Data.Media[i].Title));
				$('.plex[data-eqLogic_uid=#uid#] .jaquette_plex').append(
					$("<img>")
						.addClass("affiche")
						.attr('src','plugins/plex/core/php/Poster.php?url='+Data.Media[i].Poster)
						.attr('data-type_media',Data.Media[i].Type)
						.attr('data-Key',Data.Media[i].RatingKey)
						.attr('title',Data.Media[i].Title)
						.hide());
				switch(Data.Media[i].Type){
					default:
						if (Data.Media[i].Title == Media#uid#.Video)
							mediaKey=Data.Media[i].RatingKey;
					break;
					case 'show':
						if (Data.Media[i].Title == Media#uid#.Show)
							mediaKey=Data.Media[i].RatingKey;
					break;
					case 'season':
						if (Data.Media[i].Title == Media#uid#.Season)
							mediaKey=Data.Media[i].RatingKey;
					break;
					case 'episode':
						if (Data.Media[i].Title == Media#uid#.Episode)
							mediaKey=Data.Media[i].RatingKey;
					break;
					case 'artist':
					break;
					case 'album':
						if (Data.Media[i].Title == Media#uid#.Album)
							mediaKey=Data.Media[i].RatingKey;
					break;
					case 'track':
						if (Data.Media[i].Title == Media#uid#.Tarck)
							mediaKey=Data.Media[i].RatingKey;
					break;
				}
			}
			if(mediaKey!='')
				UpdateThumbMenu#uid#($('.plex[data-eqLogic_uid=#uid#] .jaquette_plex .affiche[data-Key='+mediaKey+']'));
			else
				UpdateThumbMenu#uid#($('.plex[data-eqLogic_uid=#uid#] .jaquette_plex .affiche').first());
		}
		function UpdateThumbMenu#uid#(Affiche){
			$('.plex[data-eqLogic_uid=#uid#] .affiche').hide();
			$('.plex[data-eqLogic_uid=#uid#] .affiche').removeClass("affiche_premiere_plex");
			$('.plex[data-eqLogic_uid=#uid#] .affiche').removeClass("affiche_next_plex");
			$('.plex[data-eqLogic_uid=#uid#] .affiche').removeClass("affiche_prev_plex");
			Affiche.addClass("affiche_premiere_plex").show();
			Affiche.next().addClass("affiche_next_plex").show();
			Affiche.prev().addClass("affiche_prev_plex").show();
		}
    
		$('.plex[data-eqLogic_uid=#uid#]').on('click',".affiche", function() {
			UpdateThumbMenu#uid#($(this));
			switch($('.plex[data-eqLogic_uid=#uid#] .btm-library-plex[data-lib_title="'+Media#uid#.Library+'"]').data('lib_type')){
				default:
					Media#uid#.Video=$(this).attr("title");
				break;
				case 'show':
					switch($(this).data('type_media')){
						case 'show':
							Media#uid#.Show=$(this).attr("title");
						break;
						case 'season':
							Media#uid#.Season=$(this).attr("title");
						break;
						case 'episode':
							Media#uid#.Episode=$(this).attr("title");
						break;
					}	
				break;
				case 'artist':
					if($(this).data('type_media')== 'album')
						Media#uid#.Album=$(this).attr("title");
					else	
						Media#uid#.Tarck=$(this).attr("title");
				break;
			}
			UpdateCmd('media', JSON.stringify(Media#uid#));
			UpdateInforamtion(Media#uid#);
		});
    
		$.ajax({
			type: "POST",
			timeout:8000, 
			url: "plugins/plex/core/ajax/plex.ajax.php",
			data: {
				Id:'#id#',
				action: "getLibrary",
			},
			dataType: 'json',
			error: function(request, status, error) {
				handleAjaxError(request, status, error);
			},
			success: function(data) { 
				if (data.state != 'ok') {
					$('#div_alert').showAlert({message: data.result, level: 'danger'});
					return;
				}
				if (data.result!=false)
				{
					for (var i in data.result) {
						switch(data.result[i].Type)
						{
							default:
							break;
							case 'movie':
								$('.plex[data-eqLogic_uid=#uid#] .media_Library').append($('<img class="btm-library-plex cursor noRefresh tooltips" src="plugins/plex/core/template/dashboard/images/cinema.png" data-lib_type="'+data.result[i].Type+'" data-lib_title="'+data.result[i].Title+'" title="'+data.result[i].Title+'" />'));
							break;
							case 'show':
								$('.plex[data-eqLogic_uid=#uid#] .media_Library').append($('<img class="btm-library-plex cursor noRefresh tooltips" src="plugins/plex/core/template/dashboard/images/tv.png" data-lib_type="'+data.result[i].Type+'" data-lib_title="'+data.result[i].Title+'" title="'+data.result[i].Title+'" />'));
							break;
							case 'artist':
								$('.plex[data-eqLogic_uid=#uid#] .media_Library').append($('<img class="btm-library-plex cursor noRefresh tooltips" src="plugins/plex/core/template/dashboard/images/music.png" data-lib_type="'+data.result[i].Type+'" data-lib_title="'+data.result[i].Title+'" title="'+data.result[i].Title+'" />'));
							break;
						}					
					}
					if (typeof(Media#uid#.Library) != "undefined" && Init)
						$('.plex[data-eqLogic_uid=#uid#] .btm-library-plex').first().trigger('click');
					else
						Init=false;
				}
			}
		});
        $('.plex[data-eqLogic_uid=#uid#]').on('click',".btm-library-plex", function() {				
			$('.plex[data-eqLogic_uid=#uid#] .ListeMedia').trigger('click');		
			$('.plex[data-eqLogic_uid=#uid#] .ListeMedia').show();
			$('.plex[data-eqLogic_uid=#uid#] .Filtre').show();
			$('.plex[data-eqLogic_uid=#uid#] .Detail').hide();
			$('.plex[data-eqLogic_uid=#uid#] .Playback').hide();
			$('.plex[data-eqLogic_uid=#uid#] .Cast').hide();
			$('.plex[data-eqLogic_uid=#uid#] .Poster').hide();
			if(!Init){
				Media#uid# = {};
				Media#uid#.Library=$(this).data('lib_title');
			}
			
			if (Media#uid#.Library!=''){
				$.ajax({
					type: "POST",
					timeout:8000, 
					url: "plugins/plex/core/ajax/plex.ajax.php",
					data: {
						Id:'#id#',
						action: "SearchMedia",
						Filtre:'',
						param:JSON.stringify(Media#uid#),
					},
					dataType: 'json',
					error: function(request, status, error) {
						handleAjaxError(request, status, error);
					},
					success: function(data) { 
						if (data.state != 'ok') {
							$('#div_alert').showAlert({message: data.result, level: 'danger'});
							return;
						}
						if (data.result!=false)
						{		
							UpdateList#uid#(data.result);	
							if ((typeof(Media#uid#.Video) != "undefined" || typeof(Media#uid#.Show) != "undefined" ||typeof(Media#uid#.Album) != "undefined") && Init)
								$('.plex[data-eqLogic_uid=#uid#] .btm-media-plex').first().trigger('click');
							else{
								Init=false;
								UpdateCmd('media', JSON.stringify(Media#uid#));
							}
						}
					}
				});
			}
		});
		$('.plex[data-eqLogic_uid=#uid#]').on('click',".btm-media-plex", function() {
			if (Init){
				var InitMedia = JSON.parse(JSON.stringify(Media#uid#));
				delete InitMedia.Episode;
				delete InitMedia.Tarck;
				UpdateInforamtion(InitMedia);
			}else{
				switch($('.plex[data-eqLogic_uid=#uid#] .btm-library-plex[data-lib_title="'+Media#uid#.Library+'"]').data('lib_type')){
					default:
						Media#uid#.Video=$(this).text();
					break;
					case 'show':
						switch($(this).data('type_media')){
							case 'show':
								Media#uid#.Show=$(this).text();
							break;
							case 'season':
								Media#uid#.Season=$(this).text();
							break;
							case 'episode':
								Media#uid#.Episode=$(this).text();
							break;
						}	
					break;
					case 'artist':
						if($(this).data('type_media')== 'album')
							Media#uid#.Album=$(this).text();
						else
							Media#uid#.Tarck=$(this).text();
					break;
				}
				UpdateCmd('media', JSON.stringify(Media#uid#));
			}
			UpdateInforamtion(Media#uid#);
			Init=false;
		});
		$('.plex[data-eqLogic_uid=#uid#]').on('click',".menu_plex", function() {
			if (!Init){
				switch($(this).text()){
					case Media#uid#.Library:
						Media#uid#='{}';
						Media#uid#.Library=$(this).text();
					break;
					case Media#uid#.Video:
						Media#uid#.Video=$(this).text();
					break;
					case Media#uid#.Show:
						Media#uid#.Show=$(this).text();
						delete Media#uid#.Season;
						delete Media#uid#.Episode;
					break;
					case Media#uid#.Season:
						Media#uid#.Season=$(this).text();
						delete Media#uid#.Episode;
					break;
					case Media#uid#.Episode:
						Media#uid#.Episode=$(this).text();
					break;
					case Media#uid#.Album:
						delete Media#uid#.Episode;
						Media#uid#.Album=$(this).text();
						delete Media#uid#.Tarck;
					break;
					case Media#uid#.Tarck:
						Media#uid#.Tarck=$(this).text();
					break;
				}
				UpdateCmd('media', JSON.stringify(Media#uid#));
				UpdateInforamtion(Media#uid#);
			}
		});
  </script>
</div>
